.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    /* height: 100vh; */
    /* width: 100%; */
    /* max-width: 25%; */
    background: #006eff; 
    color: #fff;
    transition: all 0.3s ease-in-out;
    z-index: 1050;
    overflow-y: auto;
    display: flex;
    /* flex-direction: column; */
    padding: 2rem 1rem;
  }
  
  .sidebar-open {
    right: 0; 
  }
  
  .sidebar-content img {
    display: block;
    margin: 0 ;
  }
  
  .sidebar-content p {
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: justify;
    margin: 1rem 0;
  }
  
  .sidebar hr {
    border: 1px solid #444;
  }
  
  .sidebar h6 {
    font-size: 1rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
  }
  
  .sidebar .contact-info {
    font-size: 0.85rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }
  
  .sidebar .social-icons {
    display: flex;
    /* justify-content: center; */
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .sidebar .social-icons a {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .sidebar .social-icons a:hover {
    color: #1da1f2; /* Light blue on hover */
  }
  
  @media (max-width: 768px) {
    .sidebar {
      max-width: 100%; /* Full width for smaller screens */
      padding: 1.5rem;
    }
  
    .sidebar h6 {
      font-size: 0.9rem;
    }
  
    .sidebar-content p {
      font-size: 0.8rem;
    }
  }

  /* Close Button Styling */
.sidebar-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s ease;
  }
  
  .sidebar-close-btn:hover {
    color: #f44336; /* Red color on hover */
  }
  
  