/* Container Styles */
.stories-container {
    margin: 20px 0;
    padding: 15px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: white;
  }
  
  .stories-container:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Image Styles */
  .custom-img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .custom-rounded {
    border-radius: 8px;
  }
  
  /* Content Styling */
  .custom-card-body {
    padding-top: 20px;
    text-align: center;
  }
  
  .custom-meta {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .custom-source {
    font-size: 13px;
    color: #777;
    margin-bottom: 20px;
  }
  
  .custom-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Button Styling */
  .custom-btn-primary {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #007bff;
    background-color: transparent;
    color: black;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .custom-btn-primary:hover {
    background-color: #007bff;
    color: white;
  }
  